* {
    font-family: 'Share Tech Mono', monospace;
}

#board,
.boardInfo {
    max-width: 500px;
}

#board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#start,
.boardInfo {
    font-size: 25px;
}

#gameOver {
    display: none;
}

.boardInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#start {
    background-color: crimson;
    border: none;
    color: rgb(255, 252, 252);
}

#scoreBoard {
    display: inline-flex;
}

.square {
    aspect-ratio: 1;
}

.emptySquare {
    background-color: darkcyan;
}

.snakeSquare {
    background-color: #ccf47f;
}

.foodSquare {
    background-color: brown;
}

/* Estilos para la cabeza de la serpiente */
.snakeHead {
    background-color: green;
    /* Color de fondo para la cabeza */
    border-radius: 50%;
    /* Para hacer una forma circular */
}